extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Jayden Oxley

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I currently own and operate an electrical contracting business, however I'm looking to transition to a career in web development.
            | I have been self-learning web development in my spare time (and also at work through podcasts) for the last 2 years. 
            | In October 2018 I enrolled in the Team Treehouse Full Stack JavaScript Tech Degree program to accelerate my progress.
            | I'm learning fast, and have achieved an 'exceeds expectations' grade on all but one of the course projects, proving I can and will go the extra mile to succeed.
            | I believe the knowledge and soft skills I've earned throughout my career as an electrician are transferrable to the tech industry: 
            | problem solving, time-management, communication and personal accountability.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li JavaScript
          li jQuery
          li Express 
        h6 Contact Info

        //- Add your own contact info
        ul
          li 0400 ### ###
          li jaydenoxley00@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(target= '_blank' href='https://linkedin.com/in/jayden-oxley-218b22b9') LinkedIn
        a.button.expanded(target= '_blank' href='https://github.com/Jaydos') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  